@import "tailwindcss";

:root {
  --primary: #19c0ff;
  --primary-dark: #d3f3ff;
  --primary-light: #ebf9ff;

  --foreground: #121216;
  --foreground-secondary: #767689;
  --foreground-muted: #65686f;

  --secondary: #e8fbcc;
  --secondary-dark: #447a11;
  --secondary-light: #f4ffeb;

  --tertiary: #e1edfe;
  --tertiary-dark: #5664e1;
  --tertiary-light: #ebf4ff;

  --accent: #f5f8ff;

  --background: #ffffff;
  --surface: #dbf5ff;

  --border: #cccfd5;

  --bg-disabled: #2426281a;
}

@theme {
  --font-sans: var(--font-nuntio-sans);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --color-primary-light: var(--primary-light);

  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);
  --color-secondary-light: var(--secondary-light);

  --color-tertiary: var(--tertiary);
  --color-tertiary-dark: var(--tertiary-dark);
  --color-tertiary-light: var(--tertiary-light);

  --color-background: var(--background);
  --color-surface: var(--surface);

  --color-accent: var(--accent);
  --color-border: var(--border);

  --color-bg-disabled: var(--bg-disabled);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-muted: var(--foreground-muted);

  --shadow-level-2: 0px 4px 12px 0px #2050761f;
  --shadow-level-3: 0px 8px 32px 0px #2050761f;
}

@layer base {
  body {
    @apply text-foreground bg-background antialiased;
    font-family: var(--font-nuntio-sans), sans-serif;
  }
}
